@media (max-width: 782px){
    h1{
        font-size: 20px;
    }
    .row {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
    }
        .box {
            text-align: center;
            padding: 5px;
            margin: 5px;
            border-radius: 5px;
            border: 2px solid gray;
            width: 70px;
        }
}

@media (max-width: 650px){
    h1{
        font-size: 20px;
    }
    .row {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
    }
        .box {
            text-align: center;
            padding: 5px;
            margin: 5px;
            border-radius: 5px;
            border: 2px solid gray;
            width: 70px;
        }
}
@media (max-width: 570px){
    h1{
        padding: 5px;
        font-size: 15px;
    }
    .row {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
    }
    .box {
        text-align: center;
        padding: 5px;
        margin: 5px;
        border-radius: 5px;
        border: 2px solid gray;
        width: 70px;
    }
    .input-field{
        width: 50%;
    }

}

@media (max-width: 425px){
    h1{
        padding: 5px;
        font-size: 15px;
    }
    .row {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
    }
    .box {
        text-align: center;
        padding: 5px;
        margin: 5px;
        border-radius: 5px;
        border: 2px solid gray;
        width: 40px;
    }
    .input-field{
        width: 50%;
    }
    .boxes{
        margin-top: 30px;
    }
    #speed{
        font-size: 15px;
    }
    #incSize{
        text-align: center;
        font-size: 15px;
    }

}